/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
=========================
Basic Typography
=========================
*/

h1, h2, h3, h4 {
    font-family: 'Fredoka One', sans-serif;
    margin: 1rem auto;
}

h1 {
    font-size: 3rem;
    margin: 1rem auto;
    color: #ff5678;
    text-align: center;
    width: 100%;
}

h2 {
    font-size: 2.5rem;
    margin: 1rem auto;
    text-align: center;
}

h3 {
    font-size: 2.5rem;
    margin: 1rem auto;
}

h4 {
    font-size: 2rem;
    margin: 1rem auto;
}

p, li {
    font-family: 'Karla', sans-serif;
    font-size: 2rem;
    line-height: 2.5rem;
}

p + p {
    margin-top: 2rem;
}

span{
    font-family: 'Fredoka One', sans-serif;
}

p.caption {
    font-size: 1rem;
    color: darkgray;
    line-height: 0;
    text-align: center;
    margin-top: 10px;
}

p.caption a {
    color: darkslategray;
}


/*
=========================
Basic Styling
=========================
*/

body {
    background-color: oldlace;
    width: 70%;
    margin: auto;
}

header {
    width: 100%;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-left: 0px;
    box-sizing: border-box;
}

div.logo {
    width: 30%;
}

/* BUTTON STYLING */

a.gohome {    
    display: block;
    width: 20%;
}

.button{
    font-size: 1.5rem;
    background-color: #ff5678;
    width: 100%;
    margin: auto;
    border: 5px solid black;
    padding: 5px;
    text-align: center;
    font-weight: 800;
    border-radius: 25px;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: aliceblue;
}

.list-items {
    margin: 5px;
}

/* DEMO */

.demo-container {
    display: flex;
    justify-content: space-around;
}

.demo-img {
    width: 45%;
    order: 1;
}

.demo-img img{
    max-width: 100%;
    height: auto;
}

.demo-hero {
    width: 45%;
    order: 2;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.demo-hero h2 {
    font-size: 2rem;
}

/*nav items*/

.nav {
    width: 30%;
}

.sticky-nav {
    width: 100%;
    margin: auto;
}

.sticky-items {
    width: 30%;
    margin: 2vh 1.5%;
    box-sizing: border-box;
    display: inline-block;
}

.active {
    background-color: cornsilk;
}

.active:hover {
    background-color: cornsilk;
}

li a:hover {
    color: #ff5678;
}

/*sections*/
.present {
    width: 80%;
    margin: auto;
}

/* table of contents */
.table-of-contents {
    text-align: center;
    border: 10px solid #ff5678;
    width: 60%;
    margin: 5vh auto;
    padding: 20px;
}

/* multimedia embeds */
.img-embed {
    display: block;
    margin: 40px auto;
    width: 50%;
}

.video-embed {
    display: block;
    margin: 40px auto;
    width: 50%;
}

.audio-embed {
    display: block;
    margin: 40px auto;
    width: 50%;
}

/* nextback nav */

.nextback-nav {
    display: flex;
    justify-content: space-evenly;
}

.nextback {
    display: inline-block;
    width: 10%;
    margin-top: 50px;
    padding: 15px;
}

/*footer*/

footer {
    width: 100%;
    border-top: 5px solid black;
    margin-top: 50px;
}

footer p {
    font-size: 1rem;
    text-align: center;
}

/*
=========================
Basic Responsiveness
=========================
*/


@media only screen and (max-width: 1024px) {
    body {
        width: 90%;
    }
    
    html {
        font-size: 12px;
    }

    /*demo*/
    .demo-container {
        flex-direction: column;
        align-items: center;
    }

    .demo-img {
        width: 70%;
    }

    .demo-hero {
        width: 100%;
    }

    p.caption {
        font-size: 1.5rem;
        margin-top: 5px;
    }

    .video-embed {
        width: 80%;
    }
}


@media only screen and (max-width: 800px) {
    body {
        width: 90%;
    }

    html {
        font-size: 8px;
    }

    div.logo {
        width: 60%;
    }

    a.gohome {    
        width: 30%;
    }

    .button {
        font-size: 2rem;
    }

    .demo-hero h2 {
        font-size: 3rem;
        text-align: center;
        margin-top: 30px;
    }

    span {
        font-size: 1.5rem;
    }

    .sticky-items {
        width: 30%;
        margin: 2vh 1.2%;
        box-sizing: border-box;
        display: inline-block;
    }

    .video-embed {
        width: 80%;
    }
  }